ol {
	padding:0;
}
ol li {
	line-height:1.7em;
	list-style-position: inside;
}

.face {
  display: inline-block;
}
.face img {
  height:236px;
  border:1px solid #ddd;
  -moz-transition: ease-out 1s;
  -moz-transform-origin: left;
  -webkit-transition: ease-out 1s;
  -webkit-transform-origin: left;
}

.face img:hover {
  -moz-transform: rotateY(60deg) skewY(-20deg);
  -webkit-transform: rotateY(60deg) skewY(-20deg);
}

.face {
  background-color: #ddd;
  border:1px solid #aaa;
}
