
<footer class="site-footer">
  <% if (config.rss || config.feed) {  %>
  <a class="subscribe icon-feed" href="/<%= (config.rss || config.feed.path) %>"><span class="tooltip"><%= __('casper.footer.subscribe')%></span></a>
  <% } %>
  <div class="inner">
     <section class="copyright">All content copyright <a href="<%- config.root %>"><%- config.title %></a> &copy; 2015 &bull; All rights reserved.</section>
     <section class="poweredby">使用 <a class="icon-ghost" href="http://zespia.tw/hexo/">Hexo</a> 驱动</section>
  </div>
</footer>
